<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%thread]%-5level %logger{36} - %msg%n</pattern>-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="SxJingDong" class="ch.qos.logback.core.FileAppender">
        <file>d:/home/vcap/app/webapps/ROOT/logs/jae.log</file>
        <appender>true</appender>
        <encoder>
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss}[%thread]%-5level %logger{36} - %msg%n</pattern>-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--&lt;!&ndash; 这种日志类型会一直在同一个文件中打log &ndash;&gt;-->
    <!--<appender name="dao" class="ch.qos.logback.core.FileAppender">-->
        <!--<file>/logs/dao.log</file>-->
        <!--<appender>true</appender>-->
        <!--<encoder>-->
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%thread]%-5level %logger{36} - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <!--&lt;!&ndash; 这种日志类型会根据触发条件，比如，定时（每天一个新文件）、定量（日志文件到达20m后换新文件）更换日志文件 &ndash;&gt;-->
    <!--<appender name="biz" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--<fileNamePattern>D:/logs/biz.log.%d{yyyy-MM-dd}</fileNamePattern>-->
            <!--&lt;!&ndash; 最多保存一天的日志 &ndash;&gt;-->
            <!--<maxHistory>3</maxHistory>-->
        <!--</rollingPolicy>-->
        <!--<file>D:/logs/biz.log</file>-->
        <!--<encoder>-->
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%thread]%-5level %logger{36} - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <!--<logger name="com.ali.yanmo.dao" userLevel="INFO">-->
        <!--<appender-ref ref="dao" />-->
    <!--</logger>-->

    <!--<logger name="biz" userLevel="INFO">-->
        <!--<appender-ref ref="biz" />-->
    <!--</logger>-->

    <looger name="SxJingDong" userLevel="INFO">
        <appender-ref ref="SxJingDong"/>
    </looger>

    <looger name="consolo" userLevel="INFO">
        <appender-ref ref="stdout" />
    </looger>

    <root userLevel="INFO">
        <appender-ref ref="stdout" />
    </root>
</configuration>